# Copier ce fichier en .env et remplir les valeurs

PORT=3000

# Clé secrète pour les sessions
SESSION_SECRET=mettez_un_secret_ici_tres_long_quee_personnne_ne_doit_connaitre

# Connexion MySQL
DB_HOST=localhost
DB_USER=foo
DB_PASS=12345
DB_NAME=mydb
